body {
  font-family: Inter, Plus_Jacarta_Sans, Roboto, sans-serif;
  margin: 0;

  background-color: #1E2026;
}

.main-page-container {

}

header {
  border-bottom: 1px solid #2C303E;
  background-color: #222632;
  min-width: 1400px;
  display: flex;
  justify-content: center;
}

header div{
  width:1400px;
}

header div img {
  background-color: #000000;
  padding: 5px 12px 7px 8px;
  border-radius: 5px;
  margin-left: 40px;
}

.main-container {
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  min-height: 100vh; /* Занимает весь экран по высоте */
  min-width: 1400px;
  margin-top: 20px;
  color: white;
}

.content {
  width: 1062px;
  border: 1px solid #2C303E;
  border-radius: 16px;
  padding: 16px;
}

.content div h2{
  margin-left: 20px;
}


.sidebar {
  background-color: #2C303E;
  min-width: 250px;
  padding: 10px;
  border-radius: 14px;
  margin-right: 20px; /* Отступ от контента */
  height: 290px;
  align-self: flex-start; /* Фиксация позиции сайдбара сверху */
}
.sidebar-link {
  display: flex;
  text-decoration: none;
  color: white;
  border-radius: 14px;
}
.sidebar-link:hover {
  background-color: #3b4051;
}
.sidebar-link img {
  width: 28px;
  margin: 10px 20px 10px 10px;
}
.sidebar-link div {
  font-size: 16px;
  display: flex;
  align-items: center;
}

footer {
  font-size: 15px;
  margin-top: 25px;
  padding-top: 40px;
  padding-bottom: 25px;
  border-top: 1px solid #2C303E;
  color: #fff;
  text-align: center;
  min-width: 1400px;
  width: 100%;
}


.home-page-container {
  color: #ffffff; /* Белый текст */
  scroll-snap-type: y mandatory; /* Включаем snapping */
  overflow-y: scroll; /* Прокрутка по вертикали */
  height: 100vh; /* Высота окна браузера */
}

header {
  border-bottom: 1px solid #2C303E;
  background-color: #222632;
}

header img {
  background-color: #000000;
  margin: 25px 0 20px 0;
  padding: 5px 12px 7px 8px;
  border-radius: 5px;
  margin-left: 20%;
  width: 140px;
}

.data-table {
  width: 900px;
  text-align: center;
  table-layout: fixed;
  border-collapse: separate;
  border: none;
  border-spacing: 0;
  margin: 0 auto;
}

.data-table:first-child {
  border-radius: 12px;
  overflow: hidden;
}

.data-table tbody tr td,
.data-table thead tr th {

  height: 40px;
  width: 82px; /* Явно задаем ширину для всех ячеек */
  border: none; /* Граница для визуализации */

}

.data-table thead tr th {
  background-color: #262930; /* Фон заголовка для наглядности */
  color: #fff; /* Белый текст для контраста */
}

.table-container {
  padding: 10px; /* Добавляем отступы вокруг таблицы */
}


.graph-container {
  width: 900px;
  height: 450px;
  margin: 0 auto
 }

.count-year-container {
  margin-top: 60px;
}

.vacancies-container {
  margin: 5px 20px;
  padding: 5px 25px;
  border: 1px solid #2C303E;
  border-radius: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #2C303E ;
}

.vacancies-header {
  margin-left: 20px !important;
}

.vacancies-container h2 {
  font-size: 28px;
  margin-left: 0px !important;
}

.skills-container {
  margin-top: -14px;
  margin-bottom: 15px;
  display: flex; /* Включает flexbox */
  flex-wrap: wrap; /* Разрешает перенос элементов на новую строку */
  gap: 10px; /* Задает расстояние между элементами */
}

.skills-container span {
  background-color: #464b5e;
  padding: 5px 8px;
  border-radius: 8px;
  color: #fff; /* Цвет текста */
  margin: 0; /* Убираем отступы */
}

.vacancy-company {
  margin-top: 0;
  font-size: 18px;
}


.vacancy-description {

  padding: 12px;
  background-color: rgba(49, 65, 87, 0.8);
  border: 1px solid #2C303E;
  border-radius: 14px;
  margin-right: 20px;
  padding: 5px 20px 15px 20px;
  line-height: 30px;
  font-size: 17px;
}

.description-btn {
  font-size: 14px;
  font-weight: 500;
  background-color: #46648f;
  text-decoration: none;
  cursor: pointer;
  color: white;
  padding: 7px 10px;
  border:none;
  border-radius: 8px;
}
.vacancy-short-info {
  display: flex;
  justify-content: space-between;
}
.vacancy-salary {
  background-color: #464b5e;
  margin: 0;
  margin-right: 22px;
  margin-top: -12px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  color: #f0f0f0; /* Светлый текст для тёмного фона */
  border-radius: 12px; /* Закругляем углы */
  font-weight: 400; /* Полужирный текст */
  text-align: center; /* Выравнивание текста по центру */
}

.vacancy-date {
  position: sticky;
  color: #9c9b9b;
  text-align: right;
}



/* Общий стиль для каждой секции */
.section {
  scroll-snap-align: start; /* Каждая секция фиксируется в начале */
  height: 100vh; /* Каждая секция занимает весь экран */
  border-bottom: 1px solid #333333; /* Лёгкое разделение */
  background-color: #000000;
  scroll-behavior: smooth;

}
.first-section {
  background-repeat: no-repeat;
  position: relative; /* Устанавливаем контекст для анимации */
  overflow: hidden; /* Скрываем выходящее за границы содержимое */
}

.first-section::after {
  content: '';
  position: absolute;
  bottom: -100px;
  right: -100px;
  width: 600px;
  height: 600px;
  background-image: url('./img/home-page/first-section.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transform: translate(50%, 50%);
}

.first-section.animate::after {
  animation: slideIn 1.5s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    transform: translate(50%, 50%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}


.description-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.description-content h1 {
  font-size: 70px;
  align-items: center;
  margin-top: 10%;
  margin-left: 5%;
  animation: slideIn 1.5s ease-in-out forwards;

}

.first-section-description {
  width: 70%;
  font-size: 35px;
  z-index: 2;
  padding: 0 25px 25px 0;
  border-radius: 30px;
  margin-left: 5%;
  color: white; /* Убедитесь, что цвет текста контрастирует с фоном */
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 1); /* Добавляет тень к тексту */
  animation: slideIn 1.5s ease-in-out forwards;

}

.second-section {
  margin: 0;
  padding: 0;
  position: relative;
}

.second-section h1{

  font-size: 60px;
  align-items: center;
  margin-left: 5%;
}

.second-section ul{
  font-size: 35px;
  max-width: 1100px;
}

.second-section li{
  margin: 10px 0;
}

.third-section h1 {
  font-size: 60px;
  margin-left: 5%;
}

.third-section p {
  font-size: 35px;
}