body {
  font-family: Inter, Plus_Jacarta_Sans, Roboto, sans-serif;
  margin: 0;

  background-color: #1E2026;
}

.main-page-container {

}

header {
  border-bottom: 1px solid #2C303E;
  background-color: #222632;
  min-width: 1400px;
  display: flex;
  justify-content: center;
}

header div{
  width:1400px;
}

header div img {
  background-color: #000000;
  padding: 5px 12px 7px 8px;
  border-radius: 5px;
  margin-left: 40px;
}

.main-container {
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  min-height: 100vh; /* Занимает весь экран по высоте */
  min-width: 1400px;
  margin-top: 20px;
  color: white;
}

.content {
  width: 1062px;
  border: 1px solid #2C303E;
  border-radius: 16px;
  padding: 16px;
}

.content div h2{
  margin-left: 20px;
}


.sidebar {
  background-color: #2C303E;
  min-width: 250px;
  padding: 10px;
  border-radius: 14px;
  margin-right: 20px; /* Отступ от контента */
  height: 290px;
  align-self: flex-start; /* Фиксация позиции сайдбара сверху */
}
.sidebar-link {
  display: flex;
  text-decoration: none;
  color: white;
  border-radius: 14px;
}
.sidebar-link:hover {
  background-color: #3b4051;
}
.sidebar-link img {
  width: 28px;
  margin: 10px 20px 10px 10px;
}
.sidebar-link div {
  font-size: 16px;
  display: flex;
  align-items: center;
}

footer {
  font-size: 15px;
  margin-top: 25px;
  padding-top: 40px;
  padding-bottom: 25px;
  border-top: 1px solid #2C303E;
  color: #fff;
  text-align: center;
  min-width: 1400px;
  width: 100%;
}

header {
  border-bottom: 1px solid #2C303E;
  background-color: #222632;
}

header img {
  background-color: #000000;
  margin: 25px 0 20px 0;
  padding: 5px 12px 7px 8px;
  border-radius: 5px;
  width: 140px;
}

.data-table {
  width: 1000px;
  text-align: center;
  table-layout: fixed;
  border-collapse: separate;
  border: none;
  border-spacing: 0;
  margin: 0 auto;
}

.data-table:first-child {
  border-radius: 12px;
  overflow: hidden;
}

.data-table tbody tr td,
.data-table thead tr th {
  height: 40px; /* Высота ячеек */
  padding: 5px; /* Отступ внутри ячеек */
  word-wrap: break-word; /* Перенос длинных слов */
  word-break: break-word; /* Разбиваем слова, если они длинные */
  white-space: pre-wrap; /* Сохраняем пробелы и перенос строк */
  text-overflow: ellipsis; /* Добавляем троеточие, если текст обрезается */
  overflow: hidden; /* Скрываем выходящий текст */
  border: none; /* Граница для визуализации */
}

.data-table thead tr th {
  background-color: #262930; /* Фон заголовка */
  color: #fff; /* Цвет текста в заголовке */
}

.table-container {
  padding: 10px; /* Отступы вокруг таблицы */
}


.graph-container {
  width: 900px;
  height: 450px;
  margin: 0 auto
 }

.count-year-container {
  margin-top: 60px;
}

.vacancies-container {
  margin: 5px 20px;
  padding: 5px 25px;
  border: 1px solid #2C303E;
  border-radius: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #2C303E ;
}

.vacancies-header {
  margin-left: 20px !important;
}

.vacancies-container h2 {
  font-size: 28px;
  margin-left: 0px !important;
}

.skills-container {
  margin-top: -14px;
  margin-bottom: 15px;
  display: flex; /* Включает flexbox */
  flex-wrap: wrap; /* Разрешает перенос элементов на новую строку */
  gap: 10px; /* Задает расстояние между элементами */
}

.skills-container span {
  background-color: #464b5e;
  padding: 5px 8px;
  border-radius: 8px;
  color: #fff; /* Цвет текста */
  margin: 0; /* Убираем отступы */
}

.vacancy-company {
  margin-top: 0;
  font-size: 18px;
}


.vacancy-description {
  padding: 12px;
  background-color: rgba(49, 65, 87, 0.8);
  border: 1px solid #2C303E;
  border-radius: 14px;
  margin-right: 20px;
  padding: 5px 20px 15px 20px;
  line-height: 30px;
  font-size: 17px;
}

.description-btn {
  font-size: 14px;
  font-weight: 500;
  background-color: #46648f;
  text-decoration: none;
  cursor: pointer;
  color: white;
  padding: 7px 10px;
  border:none;
  border-radius: 8px;
}
.vacancy-short-info {
  display: flex;
  justify-content: space-between;
}
.vacancy-salary {
  background-color: #464b5e;
  margin: 0;
  margin-right: 22px;
  margin-top: -12px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  color: #f0f0f0; /* Светлый текст для тёмного фона */
  border-radius: 12px; /* Закругляем углы */
  font-weight: 400; /* Полужирный текст */
  text-align: center; /* Выравнивание текста по центру */
}

.vacancy-date {
  position: sticky;
  color: #9c9b9b;
  text-align: right;
}


.home-page-container {
  color: #e0e0e0; /* Светлый текст */
  font-family: 'Roboto', Arial, sans-serif; /* Современный шрифт */
  margin: 0;
  padding: 0;
  padding: 20px;
  max-width: 1200px;
}

.home-page-container img{
  width: 500px;
  border-radius: 16px;
  margin-left: 260px;
}

/* Стили для секций */
.section {
  margin-bottom: 30px;
  padding: 20px;
  padding-top: 1px;
  border-radius: 16px;
  background-color: #2C303E ;
}

.first-section {
  border-left: 5px solid #c1c1c1; /* Акцентная линия */
}

.second-section {

}

.third-section {
}

/* Заголовки */
h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

/* Параграфы */
p {
  line-height: 1.6;
  font-size: 18px;
}

/* Стили для списка */
ul {
  margin: 0;
  padding-left: 20px;
}

section ul li {
  margin-bottom: 10px;
  font-size: 16px;
}

li strong {

}

/* Акцентные элементы */
.first-section-description {
  font-style: italic;
  color: #d1d1d1;
}

/* Адаптивность */
@media (max-width: 768px) {
  .home-page-container {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  p, li {
    font-size: 14px;
  }
}

.computer-img {
  margin-top: -100px !important;
  margin-bottom: -100px !important;
  margin-left: 625px !important;
}

.year-select {
  padding: 8px 12px;
  width: 200px;
  margin-top: -30px;
  margin-bottom: 20px;
  float: right;
  margin-right: 32px;
  font-size: 16px;
  font-weight: 500;
  background-color: #1E2026;
  color: white;
  border: 1px solid #474A57;
  border-radius: 12px;
  outline: none;
}